<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chat_application_with_windows_forms.Properties.Settings.chat_applicatinConnectionString"
            connectionString="Data Source=DESKTOP-M7F6609;Initial Catalog=chat_applicatin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>